/* prerequisite */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --side-bar-color: #34495E;
    --background-color: #BDC3C7;
    --accent-color: #E67E22;
    --card-color: #FDFEFE;

    --paragraph-font-size: 1.18rem;
}

body {

    font-family: "SN Pro", sans-serif, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    display: grid;
    grid-template-columns: 1fr 4fr;
}

ul li {

    list-style: none;
}
/* prerequisite */


img {

    width: 100px;
    height: auto;
}

header {

    background-color: var(--card-color);

    grid-row: 1 / 2;
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: minmax(250px, 3fr) 1fr;
    
    align-items: center;

    gap: clamp(15px, 15%, 50px);

    img {

        object-fit: cover;
        border-radius: 50%;
    }

    input {

        background-color: #E0F2FE;
        border-radius: 10px;
        height: 28px;

        flex: 1;
    }
    form div {

        display: flex;
        align-items: center;

        gap: 7px;

        .material-symbols-outlined {

            font-size: 30px;
        }
    }

    div.top-right {

        display: flex;
        justify-content: center;
        align-items: center;

        gap: 16px;

        img {

            width: 60px;
            aspect-ratio: 1 / 1;
        }

        p {

            font-size: 1.28rem;
            font-weight: 600;
        }

        .material-symbols-outlined {

            font-size: 30px;
        }
    }

    div.bottom-left {

        display: flex;
        align-items: center;

        gap: 16px;

        img {

            width: 100px;
            aspect-ratio: 1 / 1;
        }

        p {

            font-size: var(--paragraph-font-size);
        }
    }

    div.bottom-right {

        display: flex;
        gap: 20px;
        
        button {

            width: 110px;
            height: 35px;

            border-radius: 40px;

            font-family: inherit;
            font-size: 1.15rem;

            border: none;

            background-color: var(--accent-color);
            color: white;
        }
        

    }
}

aside.dashboard {

    background-color: var(--side-bar-color);
    padding: 18px;

    display: flex;
    flex-direction: column;
    gap: 42px;

    .top {

        display: flex;
        align-items: center;
        gap: 10px;

        .material-symbols-outlined {

            color: white;
            font-size: clamp(3rem, 3.5vw, 3.6rem);
        }

        p {

            color: white;
            font-size: clamp(1.25rem, 1.8vw, 2rem);
            font-weight: 600;
        }
    } 

    a {

        display: flex;
        align-items: center;
        gap: 9px;

        text-decoration: none;
        color: white;

        font-size: clamp(0.9rem, 1vw, 1.2rem);

        .material-symbols-outlined {

            color: white;
            font-size: clamp(1.5rem, 1.6vw, 2rem);
        }
    } 

    nav {

        display: flex;
        flex-direction: column;
        gap: 65px;
    }
    
    ul {

        display: flex;
        flex-direction: column;
        gap: 31px;
    }
}


