/* prerequisite */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --side-bar-color: #34495E;
    --background-color: #BDC3C7;
    --accent-color: #E67E22;
    --card-color: #FDFEFE;

    --paragraph-font-size: 1.18rem;

    --card-shadow: -4px 4px 15px -3px #000000;
}

body {

    font-family: "SN Pro", sans-serif, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 4fr;

    min-height: 100vh;
}

ul li {

    list-style: none;
}
/* prerequisite */


img {

    width: 100px;
    height: auto;
}

/* header */
header {

    background-color: var(--card-color);

    grid-row: 1 / 2;
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: minmax(250px, 3fr) 1fr;
    align-items: center;
    column-gap: clamp(30px, 8vw, 600px);

    padding: 10px 70px 10px 30px;

    img {

        object-fit: cover;
        border-radius: 50%;
    }

    input {

        background-color: #E0F2FE;
        border-radius: 10px;
        height: 28px;

        flex: 1;
    }
    form div {

        display: flex;
        align-items: center;

        gap: 7px;

        .material-symbols-outlined {

            font-size: 30px;
        }
    }

    div.top-right {

        display: flex;
        justify-content: center;
        align-items: center;

        gap: 16px;

        img {

            width: 60px;
            aspect-ratio: 1 / 1;
        }

        p {

            font-size: 1.28rem;
            font-weight: 600;
        }

        .material-symbols-outlined {

            font-size: 30px;
        }
    }

    div.bottom-left {

        display: flex;
        align-items: center;

        gap: 16px;

        img {

            width: 85px;
            aspect-ratio: 1 / 1;
        }

        p {

            font-size: var(--paragraph-font-size);
        }

        h1 {

            font-size: clamp(1.6rem, 1.6vw, 4.3rem);
        }
    }

    div.bottom-right {

        display: flex;
        gap: 20px;
        
        button {

            font-size: clamp(1rem, 1.3vw, 1.15rem);
            padding: 0.3em 1.5em;

            border-radius: 50px;

            font-family: inherit;

            border: none;

            background-color: var(--accent-color);
            color: white;

            cursor: pointer;
        }
        

    }
}
/* header */

/* aside */
aside.dashboard {

    grid-row: 1 / 3;

    background-color: var(--side-bar-color);
    padding: 18px;

    display: flex;
    flex-direction: column;
    gap: 42px;

    .top {

        display: flex;
        align-items: center;
        gap: 10px;

        .material-symbols-outlined {

            color: white;
            font-size: clamp(3rem, 3.5vw, 3.6rem);
        }

        p {

            color: white;
            font-size: clamp(1.25rem, 1.8vw, 2rem);
            font-weight: 600;
        }
    } 

    a {

        display: flex;
        align-items: center;
        gap: 9px;

        text-decoration: none;
        color: white;

        font-size: clamp(0.9rem, 1vw, 1.2rem);

        .material-symbols-outlined {

            color: white;
            font-size: clamp(1.5rem, 1.6vw, 2rem);
        }
    } 
    a:hover .link-text {

        text-decoration: underline;
    }

    nav {

        display: flex;
        flex-direction: column;
        gap: 65px;
    }
    
    ul {

        display: flex;
        flex-direction: column;
        gap: 31px;
    }
}
/* aside */

/* main */
main {

    background-color: var(--background-color);

    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 25px;

    padding: 20px 30px;

    h3 {

        font-size: clamp(1.3rem, 1.35vw, 1.5rem);
    }

    p {

        font-size: clamp(0.95rem, 1vw, 1.1rem);
    }
}

section.projects-section {

    grid-column: 1 / 2;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
div.articles {

    flex: 1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 20px;

    article.card {

        background-color: var(--card-color);
        padding: 25px;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        gap: 18px;

        -webkit-box-shadow: var(--card-shadow); 
        box-shadow: var(--card-shadow);
    }

    .card-actions {

        align-self: end;
        margin-top: auto;
    }
}

div.right-part {

    display: flex;
    flex-direction: column;
    gap: 30px;

    section.announcements, section.trending {

        background-color: var(--card-color);

        padding: 15px;

        display: flex;
        flex-direction: column;

        gap: 20px;

        border-radius: 10px;

        -webkit-box-shadow: var(--card-shadow);
        box-shadow: var(--card-shadow);

        h3 {

            font-size: clamp(1.1rem, 1.35vw, 1.23rem);
        }
    }
}
section.announcements div:first-of-type {

    display: flex;
    flex-direction: column;

    gap: 15px;

    > article {

        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}
section.trending {

    img {

        object-fit: cover;
        border-radius: 50%;

        width: 30px;
        aspect-ratio: 1 / 1;

        flex-shrink: 0;
    }

    ul {

        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    li {

        display: flex;
        align-items: center;
        gap: 10px;

        div p:first-child {

            font-size: clamp(1rem, 1vw, 1.15rem);
            font-weight: 600;
        }

        div p:nth-child(2) {

            font-size: clamp(0.9rem, 1vw, 1rem);
        }
    }
}
/* main */
